@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    /* --color-black: #0b0b0b;
   --color-offcanvas: #aeaeae;
   --color-about-red: #fe15104d;
   --color-about-yellow: #5497a7;
   --color-about-purple: #b9b9eb;*/
    /* --background: linear-gradient(180deg, rgba(226, 211, 206, 1) 5.88%, rgba(6, 124, 161, 0.00) 96.45%); */
    /* --backgtound-burger-menu: #cac7c7;
   --student-about-color-light: #fff; */
    --student-about-color-dark: #333;
    /*--background-blocks: #fff;
   --background-mentors: #51aeffa9;
   --background-buttons: #243B73;
   --text-light-color: #fff;
   --text-dark-color: #2f497a; */
    --background: #1C1C1C;
    --primary: #083CC0;
    --container-about-one: #000;
    --container-about-two: #000A24;
    --container-about-three: #252323;
    --background-light: #FFFDFE;



}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-weight: 300;
    line-height: normal;
}

h2 {
    text-align: center;
    /* font-family: "Roboto"; */
    /* font-size: 40px; */
    /* font-style: normal; */
    /* line-height: normal; */
    font-weight: 400;
}

body {
    /* font-family: Roboto; */
    background: var(--background) !important;
}

a {
    text-decoration: none;
}

.center_containerd {
    text-align: center;
}

.container_students_laptop {
    display: flex;
    justify-content: center;
    padding-right: 8px;
    /* margin: 0 auto; */
    margin-bottom: 24px;
}

.link_Linkedin {
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: transform 0.5s;
    margin-right: 34px;
}

.link_Linkedin:hover {
    transform: scale(1.1);
}

.link_Linkedin:last-child {
    margin-right: 0px;
}

.picture-team-team-lead {
    /* top: 50%;
    left: 50%; */
    transform: translate(20%, 0%);
}

.link-Linkedin-team-lead {
    margin-right: 20px;
}

.link_language:hover {
    color: black;
}

.link_language {
    text-decoration: none;
    color: #FFF
}

.link_burger:hover {
    color: black;
}

.link_burger_button:hover {
    color: black;
}

/*---------------------------*/
.header-link {
    color: #FFF;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    height: 100%;
}

.header-link:after {
    content: "";
    display: block;
    position: absolute;
}

.header-link:before {
    content: "";
    display: block;
    position: absolute;
}

.header-link--line:after {
    transform-origin: right;
    transform: scaleX(0);
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.header-link--line:hover:after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

/* -----------------------*/
.mentors_laptop {
    display: flex;
    justify-content: space-between;
    max-width: 610px;
    margin: 0 auto;
    margin-top: 73px;
    margin-bottom: 39px;
}

.linkidin {
    /* width: 25px; */
    height: 25px;
    margin-right: 9px;
    margin-bottom: 3px;
}

.mentor_pictire {
    border-radius: 100px 100px 100px 0px;
    width: 100px;
    position: relative;
    /* z-index: 11; */
    bottom: 42px;
    /* background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
    box-shadow: 0px 5px 5px 0px rgba(217, 217, 217, 0.60); */
}

.mentors {
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 25px;
    background: var(--primary);
}

.mySwiper {
    display: none;
}

.flex_mentors {
    display: flex;
    position: relative;
    bottom: 25px;
    font-size: 16px;
    align-items: center;
    line-height: 19px;
    font-weight: 300;
    margin-right: 8px;
    z-index: 23;
    color: #FFF;
}

.header_container {
    display: none;
}

.translate_one {
    opacity: 1;
}

.title-footer {
    color: var(--background-light);
    font-size: 40px;
    font-weight: 400;
}

.link_ln {
    text-decoration: none;
}

.translate {
    background: none;
    border: none;
    font-size: 18px;
    /* font-weight: 400; */
    color: var(--primary);
}

.translate_one {
    color: #FFF;
}

.translate_one:hover,
.translate_one:active {
    color: var(--primary);
    font-weight: 500;
}

.link_intita:hover {
    color: var(--primary);
}

.link_intita {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
}

.offcanvas.offcanvas-end {
    display: none;
}

.flex_en {
    display: flex;
    align-items: center;
}

.link_footer {
    text-decoration: none;
}

.br_header {   /* check */
    border-right: 1px solid #D9D9D9;
    height: 54px;
    margin-left: 8px;
    margin-right: 8px;
    opacity: 0;
}

/* .link_inst {
    width: 50px;
    height: 50px;
} */

.blur_br {
    filter: blur(1.5px);
}

.container_header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 32px;
    justify-content: space-between;
    width: 849px;
    margin-bottom: 33px;
}

/* .img_header {
    width: 75px;
    height: 75px;
} */

/* .flag_right_header {
    display: flex;
    align-items: center;
    margin-left: 32px;
} */

/* .pd_right {
    padding-right: 20px;
} */

/* .img_header_one {
    width: 50px;
    height: 50px;
} */

.container_one {
    margin-right: 72px;
}

.about_container {
    display: flex;
    width: 960px;
    height: 600px;
    background: var(--background-light);
    border-radius: 50px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 40px;
}

.picture_intita {
    /* width: 75px;
    height: 75px; */
    cursor: pointer;
}

.container_intita {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 173px;
}

.text_intita {
    font-size: 48px;
    /* font-weight: 400; */
    /* line-height: 56px; */
    /* letter-spacing: 0em; */
    margin-left: 16px;
}

.text_one {
    padding-top: 40px;
    text-align: center;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 0em;
    font-weight: 300;
}

.text_two {
    text-align: center;
    padding-top: 40px;
    font-size: 18px;
    line-height: 20px;
    /* letter-spacing: 0em; */
    /* font-weight: 300; */
}

.container_about_one {
    width: 371px;
    height: 71px;
    border-radius: 50px;
    background: var(--container-about-one);
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    /* letter-spacing: 0em; */
    padding: 16px 17px 16px 18px;
    /* margin: 0 auto; */
    margin-top: 107px;
}

.container_about_two {
    width: 371px;
    /* height: 92px; */
    border-radius: 30px 0px;
    background-color: var(--container-about-two);
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    /* letter-spacing: 0em; */
    padding: 16px 44px 16px 44px;
    /* margin: 0 auto; */
    margin-top: 32px;
}

.container_about_three {
    width: 371px;
    /* height: 72px; */
    background: var(--container-about-three);
    color: #FFFFFF;
    border-radius: 50px;
    /* margin: 0 auto; */
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    padding: 14px 71px 16px 71px;
}

.container_about_four {
    /* width: 371px; */
    height: 55px;
    background-color: var(--primary);
    color: #FFFFFF;
    padding: 16px 57px 16px 57px;
    font-size: 18px;
    line-height: 25px;
    /* margin: 0 auto; */
    margin-top: 32px;
    border-radius: 0 30px;
}

.container_Technologi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.picture_technologies {
    width: 50px;
    /* height: 50px; */
}

.text_technologies {
    /* font-size: 16px; */
    padding-top: 8px;
    text-align: center;
    line-height: 20px;
    color: var(--White, #F6F6F6);
    width: 78px;

}

.container_Technologies {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 656px;
    margin-bottom: 40px;
}

.text_technologi {
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 24px;
}

.container_mobile_footer {
    display: none;
}

.picture_website {
    width: 75px;
    height: 75px;
}

.container_laptop_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 16px;
}

.item {
    list-style-type: none;
    display: inline;
    padding-left: 16px;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.flex_container {
    display: flex;
}

.list {
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.link_footer_one {
    margin-right: 24px;
    margin-left: 29px;
}

.link:hover {
    color: black;
}

.picture_fachebook {
    width: 50px;
    height: 50px;
}

.picture_instagram {
    width: 50px;
    height: 50px;
}

.container_students {
    border-radius: 50px;
    background: var(--background-light);
    margin: 0 auto;
    margin-bottom: 40px;
    width: 960px;
    height: 785px;
    padding-bottom: 40px;
}

.container_students h2 {
    padding-top: 24px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 19px;
}

.picture_team {
    border-radius: 100px 100px 100px 0px;
    width: 100px;
    height: 100px;
}

/* .picture-team-team-lead {
    margi
} */

.container_student_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.name_student {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    width: 91px;
    font-weight: 400;
}

.about_students_light {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--student-about-color-dark);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

.about_students_dark {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--student-about-color-dark);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

.picture_linkedin {
    width: 25px;
    height: 25px;
}

/* .container_student {
    display: flex;
} */

.header-link-desktop-mentors {
    padding-left: 9px;
}

.header-link-desktop-team {
    padding-left: 9px;
}

.header-link-desktop-technologies {
    padding-left: 9px;
}

.btn-1:link,
.btn-1:visited {
    text-decoration: none;
    position: relative;
    width: 203px;
    height: 39px;
    top: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
    display: inline-block;
    transition: all 0.5s;
    border-radius: 25px 30px 0 25px;
    color: #FFF;
    font-weight: 400;
}

.btn-white {
    background: var(--primary);
    color: #FFF;
}

.btn-1:hover {
    border-radius: 25px 30px 0px 25px;
    background: var(--primary);

}

.btn-1-bottom-animation-1 {
    animation: comeFromBottom 1s ease-out 0.8s;
}

.btn-1::after {
    content: "";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 25px 30px 0 25px;
}

.btn-white::after {
    border-radius: 25px 30px 0px 25px;
    background: var(--primary);
    /* box-shadow: 0px 3.038px 3.038px 0px rgba(217, 217, 217, 0.60); */
}

a.btn-1.btn-white.btn-animation-1.btn_progect_footer:active {
    border-radius: 25px 30px 0px 25px;
    border: 3px solid var(--text-2-color, #E11D1F);
    background: var(--primary);
}

a.btn-1.btn-white.btn-animation-1.btn_progect_footer:disabled {
    border-radius: 25px 30px 0px 25px;
    background: var(--gray-disabled, #4F4F4F);
}

a.btn-1.btn-white.btn-animation-1.btn_progect_footer:hover {
    border-radius: 25px 30px 0px 25px;
    background: var(--primary);
    width: 213px;
    height: 49px;
    flex-shrink: 0;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn_progect_footer:link,
.btn_progect_footer:visited {
    width: 214px;
    height: 39px;
}

@keyframes comeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.foter_mobile {
    width: 883px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 170px;
}

.progect {
    width: 591px;
}

.progect p {
    color: #FFFDFE;
    font-size: 16px;
    padding-right: 2px;
}

#footer {
    position: relative;
    width: 1024px;
    height: 63px;
    margin: 0 auto;
}

.dix_button {
    position: absolute;
    width: auto;
    top: -271px;
    right: 32px;
}

/* .dix_button {

    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 80px;
    margin: 0 auto;
    width: 1024px;
} */

.dix_button img {
    width: 50px;
    height: 50px;
}

.dix_button img:hover {
    width: 60px;
    height: 60px;
}

.mentors_text {
    font-size: 40px;
    color: var(--background-light);
    /* margin: 40px 0 0 0; */
    font-weight: 400;
}

#topBtn {
    cursor: pointer;
}

.swiper-wrapper {
    width: 196px;
}

@media screen and (max-width: 1023px) {
    
    #footer {
        /* position: relative; */
        width: 768px;
        height: 132px;
    }

    .dix_button {
        /* position: absolute; */
        /* width: 768px; */
        /* margin: 0 auto; */
        /* width: auto; */
        /* padding: 0; */
        top: -231px;
        right: 15px;
    }

    .progect {
        width: 449px;
    }

    .foter_mobile {
        width: 630px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        padding-top: 38px;
        padding-bottom: 40px;
    }

    .progect p {
        font-size: 15px;
        font-weight: 300;
        width: 397px;
        margin-bottom: 0px;
    }

    .mentors_laptop {
        display: flex;
        justify-content: space-between;
        max-width: 610px;
        margin: 0 auto;
        margin-top: 74px;
        margin-bottom: 40px;
    }

    .mentors_text {
        font-size: 40px;
        color: var(--background-light);
        margin: 40px 0 0 0;
        font-weight: 400;
        padding-left: 46px;
    }

    .flex_mentors {
        font-weight: 300;
    }

    .item {
        padding-left: 8px;
    }

    .text_team {
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0em;
        padding-top: 24px;
    }

    .container_students {
        width: 768px;
        border-radius: 50px;
        margin-top: 0;
        margin-bottom: 40px;
        padding-bottom: 51px;
        height: 800px;
    }

    /* .container_student {
        margin-right: 34px;
    } */

    .container_students h2 {
        padding-top: 58px;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 27px;
    }

    .container_students_laptop {
        /* margin-top: 25px; */
        /* margin-left: 35px; */
        padding-right: 0px;

    }

    .link_Linkedin {
        margin-right: 34px;
    }

    .link_Linkedin:last-child {
        margin-right: 0px;
    }

    .name_student {
        font-weight: 300;
        line-height: normal;
    }

    .container_Technologies {
        justify-content: space-around;
        margin-bottom: 0;
        max-width: 639px;
    }

    .link_footer_one {
        margin-right: 16px;
        margin-left: 18px;
    }

    .picture_fachebook {
        width: 40px;
        height: 40px;
    }

    .picture_instagram {
        width: 40px;
        height: 40px;
    }

    .container_laptop_footer {
        width: auto;
        justify-content: center;
    }

    .link {
        font-size: 14px;
    }

    .title-footer {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0;
        margin-left: 15px;
        margin-bottom: 24px;
    }

    .text_technologi {
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.05em;
        padding: 0;
    }

    .text_technologies {
        width: 78px;
    }

    .retreat_three_laptop {
        margin-right: 0;
    }

    .container_one {
        margin-right: 66px;
    }

    .about_container {
        width: 768px;
        height: 600px;
        border-radius: 50px;
        margin: 0 auto;
        justify-content: left;
        padding: 107px 22px;
    }

    .picture_intita {
        width: 75px;
        height: px;
    }

    .container_intita {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 81px;
        width: 289px;
    }

    .text_intita {
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        margin-left: 14px;
    }

    .link_intita {
        text-decoration: none;
        color: #000000;
        font-weight: 400;
        cursor: pointer;
    }

    .text_one {
        padding-top: 41px;
        padding-right: 3px;
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
        line-height: 20px;
        margin-left: -8px;
    }

    .text_two {
        text-align: center;
        padding-top: 39px;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0em;
        margin-left: -13px;
    }

    .container_about_one {
        width: 371px;
        height: 71px;
        border-radius: 50px;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0em;
        padding: 16px 16px 16px 16px;
        margin: 0 auto;
    }

    .container_about_two {
        width: 371px;
        height: 92px;
        border-radius: 30px 0px;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0em;
        padding: 16px 40px 16px 41px;
        margin: 0 auto;
        margin-top: 32px;
    }

    .container_about_three {
        width: 371px;
        height: 72px;
        border-radius: 50px;
        margin: 0 auto;
        margin-top: 32px;
        font-size: 18px;
        text-align: center;
        padding: 16px 70px 16px 70px;
        line-height: 20px;
    }

    .container_about_four {
        width: 371px;
        height: 55px;
        padding: 16px 50px 16px 57px;
        font-size: 18px;
        line-height: 25px;
        margin: 0 auto;
        margin-top: 32px;
        border-radius: 0 30px;
        /* fill: linear-gradient(110deg, #DE1414 -20.05%, #691616 14.54%, #460505 39.06%, #340707 68.62%, #1D0B0B 100.69%);
      background: #DE1414, #691616, #460505, #340707, #1D0B0B; */
        background-color: var(--primary);
    }

    .img_header_one {
        width: 40px;
        height: 40px;
    }

    .translate {
        font-size: 26px;
        font-weight: 300;
    }
    
    .link_ln {
        font-weight: 300;
    }

    /* .container_header {
        display: flex;
        align-items: center;
        padding: 16px;
        width: 736px;
        justify-content: space-between;
    } */

    .container_header {
        display: none;
    }

    .header_container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 728px;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .img_burger {
        position: absolute;
        width: 53px;
        height: 34px;
        margin-top: 2px;
        right: 0;
    }

    .btn-1:link,
    .btn-1:visited {
        width: 203px;
        height: 40px;
        padding-top: 9.23px;
        font-weight: 400;
        font-size: 18px;
        border-radius: 25px 35px 0 25px;
    }

    .btn-1:hover {
        border-radius: 25px 35px 0px 25px;
    }

    .btn-1::after {
        border-radius: 25px 35px 0 25px;
    }

    a.btn-1.btn-white.btn-animation-1.btn_progect_footer:active {
        border-radius: 25px 35px 0px 25px;
    }

    a.btn-1.btn-white.btn-animation-1.btn_progect_footer:disabled {
        border-radius: 25px 35px 0px 25px;
    }
    
    a.btn-1.btn-white.btn-animation-1.btn_progect_footer:hover {
        border-radius: 25px 35px 0px 25px;
    }

    .btn_progect_footer:link,
    .btn_progect_footer:visited {
        width: 229px;
        height: 39px; 
    }

    .offcanvas.offcanvas-end {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        background: var(--background);
        transition: all 0.9s ease 0s;
        z-index: 1;
        font-size: 18px;
        height: 525px;
        width: 474px !important;
        line-height: 1;
        border: none;
    }

    .posterior_background {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .flex_en_two {
        padding-top: 28px;
        padding-left: 76px;
        margin-bottom: 33px;
    }

    .br_header {
        height: 57px;
        position: relative;
        margin-left: 14px;
        margin-right: 17px;
        opacity: 1;
    }

    .cross {
        display: none;
    }

    .cross-big {
        height: 45px;
        width: 45px;
        top: 37px;
        right: 36px;
        cursor: pointer;
        position: absolute;
    }

    .burger_menu_top {
        margin-top: 10px;
        padding-left: 0;
        margin-bottom: 0;
    }

    .item_burger_one {
        list-style-type: none;
        margin: 0px auto 0px 40px;
    }

    .ln_height_br {
        line-height: 18.75px;
    }

    .link_burger {
        text-decoration: none;
        color: #FFF;
        font-size: 30px;
        font-weight: 300;
        line-height: normal;
    }

    .link_burger:hover,
    .link_burger:active {
        color: var(--primary);
    }

    .item_burger {
        display: flex;
        justify-content: flex-start;
        width: 76%;
        margin: 0 auto 31.5px 75px;
    }

    .item_burger_bt {
        display: flex;
        justify-content: flex-start;
        width: 76%;
        margin: -2px 0px 0 45px;
    }

    .link_burger_button {
        text-align: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #fcf7e3;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 14px;
        height: 36px;
        padding-left: 16px;
    }

    .ln_height_one {
        line-height: 16.41px;
    }

    .item_burger_button {
        margin: 16px 16px 0px 16px;
        list-style-type: none;
    }

    .aside_burger {
        display: flex;
        justify-content: center;
    }

    .link_br_tel {
        margin-top: 16px;
    }

    .bold {
        font-weight: 700;
    }

    .email_burger {
        margin-top: 16px;
        font-weight: 400;
    }

    .share_burger {
        font-size: 16px;
        margin-top: 24px;
        text-align: center;
    }

    .facebook_burger {
        margin-top: 8px;
    }

    .aside_burger_top {
        margin-top: 16px;
    }

    .flex_burger {
        display: flex;
        text-decoration-color: #666;
        margin-bottom: 18px;
    }

    .img_developer_burger {
        margin-right: 16px;
    }

    .ln_height_two {
        line-height: 14.06px;
    }

    .aside_text_burger {
        font-size: 12px;
        color: #666666;
        line-height: 16px;
    }

    .btn_progect_br {
        border: none;
        color: #fff;
        background-color: var(--primary);
        font-size: 30px;
        font-weight: 400;
        /* letter-spacing: 0em; */
        width: 320px;
        height: 66px;
        /* box-shadow: 0px 3.0381836891174316px 3.0381836891174316px 0px #d9d9d999; */
        border-radius: 30px 50px 0px 30px;
        margin: 0;
        padding-right: 7px;
    }

    .btn_progect_br:hover {
        background: var(--primary);
    }
}

@media screen and (max-width: 767px) {
    .btn-1:link,
    .btn-1:visited {
        width: 169px;
        height: 35px;
        padding-top: 8px;
        font-size: 16px;
    }

    .progect {
        padding-bottom: 16px;
        width: 288px;
        text-align: center;
        margin: 0 auto;
    }

    .btn_progect_br {
        border: none;
        color: #fff;
        background-color: var(--primary);
        font-size: 16px;
        font-weight: 400;
        /* letter-spacing: 0em; */
        width: 169px;
        height: 35px;
        /* box-shadow: 0px 3.0381836891174316px 3.0381836891174316px 0px #d9d9d999; */
        border-radius: 16px 22px 0 16px;
        margin: 0;
        padding-right: 2px;
    }

    .btn_progect_br:hover {
        background: var(--primary);
    }

    #footer {
        /* position: relative; */
        width: 375px;
        height: 63px;
        /* margin: 0 auto; */
    }

    .dix_button {
        /* position: absolute; */
        /* width: 768px; */
        /* margin: 0 auto; */
        /* width: auto; */
        /* padding: 0; */
        top: 210px;
        right: 47px;
    }

    .link_Linkedin {
        margin-right: 0px;
        /* margin-bottom: 20px; */
    }

    .foter_mobile {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 22px;
    }

    .mentors_laptop {
        justify-content: center;
    }

    .mentors_laptop {
        display: flex;
        justify-content: space-around;
        margin-top: 77px;
        width: 591px;
        margin: 0 auto;
        margin-top: 72px;
    }

    .mentors_text {
        text-align: center;
        padding-bottom: 10px;
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .mySwiper {
        display: block;
    }

    .swiper {
        width: 100%;
        padding-top: 74px;
        padding-bottom: 26px;
        margin-bottom: 30px;
    }

    .linkidin {
        width: 25px;
        height: 25px;
        margin-right: 9px;
        margin-bottom: 3px;
    }

    .mentor_pictire {
        width: 100px;
        position: relative;
        height: 100px;
        z-index: 11;
        bottom: 45px;
        background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
        /* box-shadow: 0px 5px 5px 0px rgba(217, 217, 217, 0.60); */
    }

    .mentors {
        width: 180px;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 0px 25px;
        background: var(--primary);
        background: #fff;
    }

    /* .mySwiper {
        display: none;
    } */

    .flex_mentors {
        display: flex;
        position: relative;
        bottom: 29px;
        font-size: 16px;
        align-items: center;
        line-height: 19px;
        font-weight: 300;
        margin-right: 8px;
        z-index: 23;
        color: #000;
    }

    .container_students_laptop {
        display: block;
        margin: 0 auto;
        margin-left: 0;
        padding-right: 0px;
    }

    .container_students {
        width: 288px;
        margin-bottom: 40px;
        border-radius: 15px;
        padding-top: 19px;
        height: 1305px;
    }

    .container_students h2 {
        padding-top: 0;
        font-size: 24px;
        font-weight: 400;
        padding-left: 3px;
    }

    .text_team {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0em;       
    }

    /* .about_students {
        margin-top: 8px;
        margin-bottom: 8px;
        color: #666666;
        font-size: 14px;
        line-height: 16px;
    } */

    .name_student {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 91px;
        font-weight: 300;
    }

    .name_student {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 91px;
        font-weight: 300;
    }

    .about_students_light {
        line-height: normal;
        font-weight: 300;
        width: 102px;
    }

    .container_student_text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        align-items: flex-start;
        margin-top: 0;
        margin-top: 1px;
    }

    .container_student {
        display: flex;
        margin-left: 25px;
        margin-top: 23px;
    }

    .picture_linkedin {
        width: 25px;
        height: 25px;
    }

    .picture_team {
        min-width: 100px;
        width: 100px;
        height: 100px;
    }

    .container_laptop_footer {
        display: none;
    }

    .picture_fachebook {
        width: 50px;
        height: 50px;
        margin-right: 40px;
    }

    .picture_instagram {
        width: 50px;
        height: 50px;
    }

    .container_mobile_footer {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 16px;
    }

    .title-footer {
        margin-left: 0;
        font-size: 24px;
        margin-bottom: -23px;
    }

    /* .text_technologi {
        padding: 0;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.05em;
    } */

    /* .text_technologi h2 {
        
    } */

    .retreat_two {
        margin-left: 8px;
    }

    .retreat_three {
        line-height: 20px;
    }

    .text_technologies {
        font-size: 14px;
        padding-top: 8px;
    }

    .container_Technologi {
        margin-right: -10px;
        margin-top: 22px;
    }

    .container_Technologies {
        width: 290px;
        justify-content: space-between;
    }

    .progect p {
        font-size: 16px;
        width: 288px;
        padding-left: 3px;
    }

    .retreat_three {
        margin-top: 24px;
    }

    .retreat {
        margin-right: 17px;
    }

    .about_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 288px;
        height: 596px;
        border-radius: 15px;
        padding: 9px 24px;
        margin-bottom: 40px;
    }

    .container_one {
        /* display: flex;
        flex-direction: column; */
        margin-right: 0;
        width: 226px;
    }

    .picture_intita {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .container_intita {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        width: 181px;
        margin: 0 auto;
    }

    .text_intita {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        margin-left: 8px;
    }

    .text_one {
        padding-top: 16px;
        text-align: center;
        font-size: 22px;
        line-height: 20px;
        letter-spacing: 0em;
        font-weight: 300;
        margin-left: 2px;
    }

    .text_two {
        text-align: center;
        padding-top: 16px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0em;
        font-weight: 300;
        margin-left: 0;
    }

    .container_about_one {
        width: 240px;
        height: 93px;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
        padding: 16px 15px 16px 16px;
        /* padding-top: 15px; */
        margin: 0 auto;
        margin-top: 40px;
    }

    .container_about_one_en {
        padding-top: 25px;
    }

    .container_about_two {
        width: 240px;
        height: 112px;
        border-radius: 30px 0px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
        padding: 16px 15px 16px 16px;
        margin: 0 auto;
        margin-top: 16px;
        font-weight: 300;
    }

    .cont_en {
        padding-top: 24px;
    }

    .container_about_three {
        width: 240px;
        height: 65px;
        border-radius: 50px;
        margin: 0 auto;
        margin-top: 16px;
        font-size: 14px;
        text-align: center;
        padding: 16px 25px 16px 24px;
        font-weight: 300;
    }

    .container_about_four {
        width: 240px;
        height: 57px;
        padding: 17px 21px 16px 21px;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        margin: 0 auto;
        margin-top: 15px;
        border-radius: 0 25px;
        text-align: center;
        border-radius: 0px 30px;
        /* background: linear-gradient(110deg, #DE1414 -20.05%, #691616 14.54%, #460505 39.06%, #340707 68.62%, #1D0B0B 100.69%);
      color: var(--White, #F6F6F6); */
        background-color: var(--primary);
    }

    .picture-team-team-lead {
        /* top: 50%;
        left: 50%; */
        transform: none;
    }

    .blur_container_br {
        display: block;
    }

    .container_header {
        display: none;
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        width: 288px;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .img_logo_header {
        width: 50px;
        height: 50px;
    }

    .img_burger {
        width: 30px;
        height: 20px;
        margin-top: 6px;
    }

    .offcanvas.offcanvas-end {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        background: var(--background);
        transition: all 0.9s ease 0s;
        z-index: 1;
        font-size: 18px;
        height: 277px;
        width: 250px !important;
        line-height: 1;
        border: none;
    }

    .posterior_background {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .flex_en_two {
        padding-top: 16px;
        padding-left: 38px;
        margin-bottom: 18px;
    }

    .translate {
        font-size: 14px;
    }

    .br_header {
        height: 30px;
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
        
    }

    .cross {
        display: block;
        height: 23px;
        width: 23px;
        top: 19px;
        right: 20px;
        cursor: pointer;
        position: absolute;
    }

    .cross-big {
        display: none;
    }

    .burger_menu_top {
        margin-top: 10px;
        padding-left: 0;
        margin-bottom: 0;
    }

    .item_burger_one {
        list-style-type: none;
        margin: 0px auto 0px 40px;
    }

    .ln_height_br {
        line-height: 18.75px;
    }

    .link_burger {
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
    }

    .link_burger:hover,
    .link_burger:active {
        color: var(--primary);
    }

    .item_burger {
        display: flex;
        justify-content: flex-start;
        width: 76%;
        margin: 16px auto 0 39px;
    }

    .item_burger_bt {
        display: flex;
        justify-content: flex-start;
        width: 76%;
        margin: 16px 0px 0 24px;
    }

    .link_burger_button {
        text-align: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #fcf7e3;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 14px;
        height: 36px;
        padding-left: 16px;
    }

    .ln_height_one {
        line-height: 16.41px;
    }

    .item_burger_button {
        margin: 16px 16px 0px 16px;
        list-style-type: none;
    }

    .aside_burger {
        display: flex;
        justify-content: center;
    }

    .link_br_tel {
        margin-top: 16px;
    }

    .bold {
        font-weight: 700;
    }

    .email_burger {
        margin-top: 16px;
        font-weight: 400;
    }

    .share_burger {
        font-size: 16px;
        margin-top: 24px;
        text-align: center;
    }

    .facebook_burger {
        margin-top: 8px;
    }

    .aside_burger_top {
        margin-top: 16px;
    }

    .flex_burger {
        display: flex;
        text-decoration-color: #666;
        margin-bottom: 18px;
    }

    .img_developer_burger {
        margin-right: 16px;
    }

    .ln_height_two {
        line-height: 14.06px;
    }

    .aside_text_burger {
        font-size: 12px;
        color: #666666;
        line-height: 16px;
    }

    .btn_progect_footer:link,
    .btn_progect_footer:visited {
    width: 178px;
    height: 40px;
    }

    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
        background: var(--background-50);
        border-radius: 0px 25px;
    }

    .swiper-android .swiper-slide {
        transform: translate3d(0px, 0, 0) !important;
        border-radius: 0px 25px;
        margin: 0 auto;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        border-radius: 8px;
        background: #FFF;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #F10479 !important;
    }

    .mentors_laptop {
        display: none;
    }
}