@font-face {
    font-family: 'Ubuntu Regular';
    src: local('Ubuntu-Regular'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: local('Ubuntu-Medium'), url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu-Bold'), url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Italic';
    src: local('InriaSerif-Italic'), url('../fonts/InriaSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Regular';
    src: local('InriaSerif-Regular'), url('../fonts/InriaSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Bold';
    src: local('InriaSerif-Bold'), url('../fonts/InriaSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

:root {
    --background: #000A24;
    --background-footer: #252323;
    --background-white: #fff;
    --button-primary: #083CC0;
    --button-disabled: #61677A;
    --button-active: #02257F;
    --button-visited: #fff;
    --icon-hover: #7FA2FB;
    --сolor-white: #fff;
    --сolor-black: #000;
    --color-burger-yellow: #FFF500;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Regular';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    background-color: var(--background);
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

/*--------button--start--------*/
/*--------button--end--------*/

/*===================== mobile version 375px =====================*/
/* loader start */
/* loader end */

/* hero section start */
/* hero section end" */

/* header start */
#header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    
}
#header .navbar {
    padding: 0px; 
}
#header .container-fluid {
    padding: 0px;
    
}
#header .navbar-brand {
    padding: 0px;
    margin: 0px;
}
#header .navbar-brand .header-logo-mobile {
    margin-top: 24px;
    margin-left: 25px;
}
#header .header-logo-tablet {
    display: none;
}
#header .flag-div {
    display: none;
}
#header .navbar-toggler {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: var(--background);
    margin-top: 11px;
    margin-right: 25px;
}
#header .navbar-toggler-icon_1 {
    background-image: none;
    width: 16px;
    height: 2px;
    margin-bottom: 4px;
    margin-left: 6px;
    background-color: var(--background-white);
    margin-top: 8px;
}
#header .navbar-toggler-icon_2 {
    background-image: none;
    width: 16px;
    height: 2px;
    margin-bottom: 3px;
    margin-left: 6px;
    background-color: var(--background-white);
    margin-top: 0px;
}
#header .navbar-toggler-icon_3 {
    background-image: none;
    width: 16px;
    height: 2px;
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 6px;
    background-color: var(--background-white);
}

/* header end */ 

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */

/* partners start */
/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */

/*=============================================================*/
/*------------------------ @ media ----------------------------*/

@media (min-width: 768px){
/* loader start */
/* loader end */

/* hero section start */
/* hero section end" */

/* header start */
#header .header-logo-mobile {
    display: none;
}
#header .flag-div {
    display: none;
}
#header .navbar-brand {
    margin-top: 25px;
    margin-left: 25px;
    width: 139px;
    height: 86px;
    background-image: url(../images/logo_header_tablet.png);
}
#header .header-logo-tablet {
    margin-top: 25px;
    margin-left: 25px;
}
#header .navbar-toggler {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50px;
    height: 50px;
    background-color: var(--background);
    margin-top: -9px;
    margin-right: 25px;
}
#header .navbar-toggler-icon_1 {
    background-image: none;
    width: 32px;
    height: 3px;
    margin-bottom: 4px;
    margin-left: 8px;
    background-color: var(--background-white);
    margin-top: 10px;
    border-radius: 3px;
}
#header .navbar-toggler-icon_2 {
    background-image: none;
    width: 32px;
    height: 3px;
    margin-bottom: 5px;
    margin-left: 8px;
    background-color: var(--background-white);
    margin-top: 4px;
    border-radius: 3px;
}
#header .navbar-toggler-icon_3 {
    background-image: none;
    width: 32px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: 8px;
    background-color: var(--background-white);
    border-radius: 3px;
}
/* header end */

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */

/* partners start */
/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */
}
/* 
@media (min-width: 991px) {
#header .header-logo-mobile {
    display: none;
}
#header .flag-div {
    display: none;
}
#header .navbar-brand {
    margin-top: 25px;
    margin-left: 25px;
    width: 139px;
    height: 86px;
    background-image: url(../images/logo_header_tablet.png);
}
#header .header-logo-tablet {
    margin-top: 25px;
    margin-left: 25px;
}
#header .navbar-toggler {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50px;
    height: 50px;
    background-color: var(--background);
    margin-top: -9px;
    margin-right: 25px;
}
#header .navbar-toggler-icon_1 {
    background-image: none;
    width: 32px;
    height: 3px;
    margin-bottom: 4px;
    margin-left: 8px;
    background-color: var(--background-white);
    margin-top: 10px;
    border-radius: 3px;
}
#header .navbar-toggler-icon_2 {
    background-image: none;
    width: 32px;
    height: 3px;
    margin-bottom: 5px;
    margin-left: 8px;
    background-color: var(--background-white);
    margin-top: 4px;
    border-radius: 3px;
}
#header .navbar-toggler-icon_3 {
    background-image: none;
    width: 32px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: 8px;
    background-color: var(--background-white);
    border-radius: 3px;
}
} */
@media (min-width: 1024px) {
/* loader start */
/* loader end */

/* hero section start */
/* hero section end" */

/* header start */
#header .header-logo-mobile {
    display: none;
}
#header .navbar-brand {
    margin-top: 25px;
    margin-left: 25px;
}
#header .nav-link {
    color: var(--сolor-white);
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 500;
}
#header .nav-link:hover {
    color: var(--button-active);
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 500;
}
#header .navbar-toggler {
    display: none;
}
#header .navbar-nav {
    width: 600px;
    height: 21px; 
    margin-top: 9px;
    margin-left: 111px;
}
#header .nav-item-1 {
    width: 150px;
    height: 21px;
}
#header .nav-item-2{
    width: 150px;
    height: 21px;
    padding-left: 7px;
}
#header .nav-item-3 {
    width: 150px;
    height: 21px;
    padding-left: 15px;
}
#header .nav-item-4 {
    width: 150px;
    height: 21px;
    margin-left: -15px;
}
#header .flag-div {
    margin-top: 25px;
    margin-right: 32px;
    display: block;
}
/* header end */

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */

/* partners start */
/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */    
}