@font-face {
    font-family: 'Ubuntu Regular';
    src: local('Ubuntu-Regular'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: local('Ubuntu-Medium'), url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu-Bold'), url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Italic';
    src: local('InriaSerif-Italic'), url('../fonts/InriaSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Regular';
    src: local('InriaSerif-Regular'), url('../fonts/InriaSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Bold';
    src: local('InriaSerif-Bold'), url('../fonts/InriaSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

:root {
    --background: #000A24;
    --background-footer: #252323;
    --background-white: #fff;
    --button-primary: #083CC0;
    --button-disabled: #61677A;
    --button-active: #02257F;
    --button-visited: #fff;
    --icon-hover: #7FA2FB;
    --сolor-white: #fff;
    --сolor-black: #000;
    --color-burger-yellow: #FFF500;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Regular';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    background-color: var(--background);
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

/*--------button--start--------*/
/*--------button--end--------*/

/*===================== mobile version 375px =====================*/
/* loader start */
/* loader end */

/* hero section start */
/* hero section end" */

/* header start */
/* header end */

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */
#partners .partners-main .partners-image{
display: flex;
flex-direction: column;
}
#partners .partners-main .partners-content .partners-content-text{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
background: #000A24;
color: #FFF;
font-family: Ubuntu;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: 162%; /* 22.68px */
letter-spacing: 0.28px;
}
#partners .partners-main .partners-content .partners-content-text .partners-button{
display: inline-flex;
border-radius: 6px;
background: #083CC0;
justify-content: center;
align-items: center;
color: #fff;
font-family: Ubuntu;
}


/*.left-block, 
.right-block {
flex: 1;
box-sizing: border-box;
}

.left-block {
order: 1; /* Змінити порядок блоків для мобільних пристроїв */
/*width: 375px;
height: 272px;
flex-shrink: 0;
}

.right-block {
order: 2; /* Змінити порядок блоків для мобільних пристроїв */
/*width: 375px;
height: 588px;
flex-shrink: 0;
background: #000A24;
color: #FFF;
font-family: Ubuntu;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: 162%; /* 22.68px */
/*letter-spacing: 0.28px;
}
.button{
width: 229px;
height: 48px;
flex-shrink: 0;
display: inline-flex;
border-radius: 6px;
background: #083CC0;
justify-content: center;
align-items: center;
color: #fff;
font-family: Ubuntu;
}

    .left-block, .right-block {
        width: 100%; /* На повний екран на мобільних пристроях */
       /* order: initial; /* Скинути порядок блоків */
    

/*.partners-image {
    
    

}
.partners{
    max-width: 1024px;
    display: flex;
    justify-content: center;
}
.partners-main {
  

    }
    
.partners-content {
   color: #fff;
   font-family: Ubuntu;
   position: relative;
    }
    .hr{
        width: 302px;

    }
  .button{
   /* display: inline-block;
    padding: 10px 20px;
    margin-top: 1em;
    border-radius: 5px;
    user-select: none;
    line-height: 1,5;
    font-size: item;
    color: white;
    background-color: blue;
    border: 1px solid blue;*/
  /*  display: inline-flex;
    padding: 13px 53px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #083CC0;
    color: #fff;
    font-family: Ubuntu;
    font-size: 12px;

  }
/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */

/*=============================================================*/
/*------------------------ @ media ----------------------------*/

@media (min-width: 768px){
/* loader start */
/* loader end */

/* hero section start */
/* hero section end" */

/* header start */
/* header end */

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */

/* partners start */

/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */
}

@media (min-width: 1024px) {
/* loader start */
/* loader end */

/* hero section start */
/* hero section end" */

/* header start */
/* header end */

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */

/* partners start */
/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */    
}