@font-face {
    font-family: 'Ubuntu Regular';
    src: local('Ubuntu-Regular'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: local('Ubuntu-Medium'), url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu-Bold'), url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Italic';
    src: local('InriaSerif-Italic'), url('../fonts/InriaSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Regular';
    src: local('InriaSerif-Regular'), url('../fonts/InriaSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'InriaSerif Bold';
    src: local('InriaSerif-Bold'), url('../fonts/InriaSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

:root {
    --background: #000A24;
    --background-footer: #252323;
    --white: #fff;
    --button-primary: #083CC0;
    --button-primary-hover-bg: #02257F;
    --button-disabled-bg: #61677A;
    --button-disabled-text: #D8D9DA;;
    --button-hover-bg: #02257F;
    --button-active-bg: #fff;
    --icon-hover: #7FA2FB;
    --сolor-white: #fff;
    --сolor-black: #000;
    --color-burger-yellow: #FFF500;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Regular';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    background-color: var(--background);
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

/*--------button--start--------*/
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    line-height: normal;
    outline: none;
}

.button-primary {
    color: var(--white);
    border-radius: 6px;
    background: var(--button-primary);
}

.button-primary:hover {
    color: var(--white);
    background: var(--button-primary-hover-bg);
}

.button-primary:disabled {
    color: var(--button-disabled-text);
    background: var(--button-disabled);
}

.button-primary:focus-visible {
    color: var(--button-primary);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-primary:active {
    color: var(--button-primary);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*--------button--end--------*/

/*===================== mobile version 375px =====================*/
/* loader start */
/* loader end */

/* hero section start */
#hero .hero_main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/hero-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 768px;
}

#hero .hero_main .hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#hero .hero_main .hero_content .hero_content_button {
    display: flex;
    padding: 15px 54px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

#hero .hero_main .hero_content .hero_content_title {
    max-width: 300px;
    margin: 0;
    color: var(--white);
    font-family: 'Ubuntu Bold';
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#hero .hero_main .hero_content .hero_content_description {
    margin: 0;
    color: var(--white);
    text-align: center;
    font-family: 'InriaSerif Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 256px;
}

/* hero section end" */

/* header start */
/* header end */

/* quote start */
/* quote end */

/* registration section start */
/* registration section end */

/* conditions of participation start */
/* conditions of participation end */

/* partners start */
/* partners end */

/* logo of partners start */
/* logo of partners end */

/* specialities start */
/* specialities end */

/* footer start */
/* footer end */

/* modal windows start */
/* modal windows end */

/* 404 start */
/* 404 end */

/*=============================================================*/
/*------------------------ @ media ----------------------------*/

@media (min-width: 786px) {

    /* loader start */
    /* loader end */

    /* hero section start */
    #hero .hero_main {
        min-height: 1024px;
    }

    #hero .hero_main .hero_content {
        gap: 90px;
    }

    #hero .hero_main .hero_content .hero_content_button {
        padding: 33px 120px;    
        font-size: 36px;
    }

    #hero .hero_main .hero_content .hero_content_title {
        max-width: 674px;
        font-size: 70px;
        line-height: 2;
    }

    #hero .hero_main  .hero_content .hero_content_description {
        font-size: 36px;
        max-width: 500px;
    }

    /* hero section end" */

    /* header start */
    /* header end */

    /* quote start */
    /* quote end */

    /* registration section start */
    /* registration section end */

    /* conditions of participation start */
    /* conditions of participation end */

    /* partners start */
    /* partners end */

    /* logo of partners start */
    /* logo of partners end */

    /* specialities start */
    /* specialities end */

    /* footer start */
    /* footer end */

    /* modal windows start */
    /* modal windows end */

    /* 404 start */
    /* 404 end */
}

@media (min-width: 1024px) {
    /* loader start */
    /* loader end */

    /* hero section start */
    #hero .hero_main {
        min-height: 768px;
    }

    #hero .hero_main .hero_content {
        gap: 30px;
    }

    #hero .hero_main .hero_content .hero_content_button {
        padding: 25px 85px;
        font-size: 22px;     
    }

    #hero .hero_main .hero_content .hero_content_title {
        font-size: 36px;
    }

    #hero .hero_main .hero_content .hero_content_description {
        font-size: 20px;
    }
    /* hero section end" */

    /* header start */
    /* header end */

    /* quote start */
    /* quote end */

    /* registration section start */
    /* registration section end */

    /* conditions of participation start */
    /* conditions of participation end */

    /* partners start */
    /* partners end */

    /* logo of partners start */
    /* logo of partners end */

    /* specialities start */
    /* specialities end */

    /* footer start */
    /* footer end */

    /* modal windows start */
    /* modal windows end */

    /* 404 start */
    /* 404 end */
}